<app-admin-header (change)="countChange($event)"></app-admin-header>
<div>
  <div class="row">
    <div class="col-3" *ngFor="let product of products; index as i">
      <div class="col-card">
        <div>
          <img [src]="product.image" /><img />
        </div>
        <div class="row">
          <div class="col-6">
            <b>{{ product.productName }}</b>
          </div>
          <div class="col-6">
            <span
              class="material-icons deleteProductIcon float-rt pointer"
              (click)="deliveryOrderDialog(product.id)"
            >
              delete
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ product.productDescription }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">2 Kg</div>
          <div class="col-6">{{ product.price1 }} Rs</div>
        </div>
        <div class="row">
          <div class="col-6">1 Kg</div>
          <div class="col-6">{{ product.price2 }} Rs</div>
        </div>
        <div class="row">
          <div class="col-6">500 Gram</div>
          <div class="col-6">{{ product.price3 }} Rs</div>
        </div>
        <div class="row">
          <div class="col-6">250 Gram</div>
          <div class="col-6">{{ product.price4 }} Rs</div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-checkbox
              (change)="disableProduct($event.checked, product.id)"
              [checked]="product.disable"
              >Disable Product</mat-checkbox
            >
          </div>
          <div class="col-6">
            <mat-checkbox
              (change)="outOfStock($event.checked, product.id)"
              [checked]="product.outOfStock"
              >Out Of Stock</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
