<app-admin-header (change)="countChange($event)"></app-admin-header>

<div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">

  <div class="mat-app-background basic-container">
    <div class="mat-elevation-z8">
      <div class="filter">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource">

        <!--<ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef> Order No. </th>
          <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>

        <ng-container matColumnDef="customerAddress">
          <th mat-header-cell *matHeaderCellDef> Customer Address </th>
          <td mat-cell *matCellDef="let element"> {{element.customerAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="billAmount">
          <th mat-header-cell *matHeaderCellDef> Bill Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.billAmount}} </td>
        </ng-container>

        <ng-container matColumnDef="deliveryStatus">
          <th mat-header-cell *matHeaderCellDef> Delivery Status </th>
          <td mat-cell *matCellDef="let element"> {{element.deliveryStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> View Order </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="pointer" aria-hidden="false" aria-label="Example remove_red_eye icon"
              [routerLink]="['/ViewOrder/', element.orderNumber]">remove_red_eye</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<app-footer></app-footer>
