<app-admin-header (change)="countChange($event)"></app-admin-header>

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <div class="row">
      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <mat-select matInput placeholder="Product Type" formControlName="productType">
            <mat-option value="option">Cake</mat-option>
            <mat-option value="Cupcakes">Cupcakes</mat-option>
            <mat-option value="Pizza">Pizza</mat-option>
            <mat-option value="Cookies">Cookies</mat-option>
            <mat-option value="Chocolates">Chocolates</mat-option>
            <mat-option value="Donuts">Donuts</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['productType'].invalid">
            {{getError('productType')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <input type="text" matInput placeholder="Product Name" formControlName="productName">
          <mat-error *ngIf="formGroup.controls['productName'].invalid">
            {{getError('productName')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <input type="text" matInput placeholder="Product Description" formControlName="productDescription">
          <mat-error *ngIf="!formGroup.controls['productDescription'].valid">
            {{getError('productDescription')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <input type="text" matInput placeholder="Rs / 2 Kg" formControlName="price1">
          <mat-error *ngIf="!formGroup.controls['price1'].valid">
            {{getError('price1')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <input type="text" matInput placeholder="Rs / 1 Kg" formControlName="price2">
          <mat-error *ngIf="!formGroup.controls['price2'].valid">
            {{getError('price2')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <input type="text" matInput placeholder="Rs / 500 Gram" formControlName="price3">
          <mat-error *ngIf="!formGroup.controls['price3'].valid">
            {{getError('price3')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field floatLabel="never" class="form-element">
          <input type="text" matInput placeholder="Rs / 250 Gram" formControlName="price4">
          <mat-error *ngIf="!formGroup.controls['price4'].valid">
            {{getError('price4')}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-4">
        <div class="form-element">
          <label for="files" class="btn">Select Image <span class="material-icons">add_a_photo</span></label>
          <input id="files" style="visibility:hidden;" type="file" accept="image/*" (change)="handleFileInput($event.target.files)">
        </div>       
      </div>

      <div class="col-4">
        <div class="form-element">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid || !isImageUploaded">Add
            Product</button>
        </div>
      </div>

      <div class="col-12">
        <img class="uploadedProdImage" *ngIf="fileToUpload" [src]="fileToUpload">
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
